<div>
    <h1>Quiz</h1>
</div>

<div>

    {{!-- {{#each trivia}}
        <h3>{{question}}</h3>
        <ul>
            <li>{{correct}}</li>
            <li>{{wrong}}</li>
        </ul>
    {{/each}} --}}



    {{#each trivia}}
     <h3>{{this.question}}</h3>
     <ul>
         <li>{{this.correct_answer}}</li>
         {{#each this.incorrect_answers}}
          <li>{{this}}</li>
         {{/each}}
         
         {{!-- <li>{{this.incorrect_answers}}</li> --}}
     </ul>
    {{/each}}
    
</div>

{{!--     <li>
            {{question}}
            <li>
               {{incorrect_answers}},{{correct_answer}}                           
            </li>            
        </li> --}}